.grid {
  width: 400px;
  height: 600px;
  background-color: palevioletred;
  position: relative;
}

.doodler {
  width: 60px;
  height: 80px;
  background-color: black;
  position: absolute;
}

.platform {
  width: 85px;
  height: 15px;
  background-color: blueviolet;
  position: absolute;
}
